.easy-section {
  justify-content: start;
}

.easy-header {
  margin-top: 60px;
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.easy-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  min-height: auto;
  gap: 10px;
  overflow: auto;
  flex-wrap: wrap;
}

.easy-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  position: relative;
  min-width: 200px;
  width: 100%;
}

.easy-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.easy-form-control .easy-label {
  color: #0E2248;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  margin: 10px 0 4px 0;
}

.easy-form-control .easy-input {
  background: #fff;
  border-radius: 16px;
  border: 0;
  font-size: 14px;
  min-width: 200px;
  color: #000;
  padding: 5px 5px;
  width: 100%;
  line-height: 1.5;
}

article {
  min-width: 250px;
  max-width: 400px;
  min-height: 150px;
  background: gray;
  border-radius: 16px;
  position: relative;
  width: 100%;
}

article>header {
  border-radius: 16px 16px 0px 0px;
  border: 1px solid #5F5E5E;
  background: #58BCDB;
  color: #EBEBEB;
  padding: 9px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

article>p {
  color: #EBEBEB;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 5px 16px;
}

article>.easy-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 16px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

article>.easy-card-footer>.date-card {
  color: #EBEBEB;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

article>.easy-card-footer>.name-card {
  color: #EBEBEB;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.easy-empty {
  color: rgba(51, 51, 51, 0.70);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.highlight {
  background-color: #c646aa;
}

@media (min-width: 600px) {
  .easy-main {
    flex-wrap: wrap;
  }

  article {
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  .easy-header {
    margin-top: 80px;
  }
}

@media (min-width: 850px) {
  article {
    max-width: 300px;
  }
}