:root {
  font-family: Loto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #9B8ADB;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  max-width: 1204px;
  min-height: 500px;
}

img {
  width: 196px;
  height: 196px;
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0.2em 0;
}

h2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.2em 0;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.2em 0;
}

form {
  line-height: 2em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  position: relative;
}

.form-control>label {
  color: #0E2248;
  font-size: 0.8em;
  font-weight: 700;
}

.form-control input {
  color: #fff;
  background-color: #9B8ADB;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 18px;
}

.form-control input::placeholder {
  color: #B7B7B7;
}

/* remove border in focus */
.form-control input:focus {
  outline: none;
}

.form-control>span {
  position: absolute;
  font-size: 0.6em;
  line-height: 1.5;
  height: 100%;
  top: 102%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  height: 32px;
}

.btn-primary {
  border-radius: 20px;
  color: white;
  padding: 5px;
  border: 0;
  width: 100%;
  font-size: 17px;
  background: linear-gradient(270deg, #C645A9 0%, #58BBDB 100%);
}

.m-t-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.danger-text {
  color: #FE4B4B;
}

.text-gris {
  color: #B7B7B7;
}

.text-cian {
  color: #48E3BE;
}

.footer-text {
  font-size: 10px;
  font-weight: 500;
}

.navbar {
  padding: 0 1rem;
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
}

.navbar-content {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1360px;
}

.navbar-items {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  font-size: 1.1em;
  font-weight: 700;
  color: #0E2248;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  background-color: #cbc5e2
}

.lgout-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav-img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 20px;
}

footer {
  margin-top: 20px;
}

@media (min-width: 600px) {
  main {
    min-width: 350px;
  }

  form {
    width: 100%;
  }

  .form-control input {
    min-width: 250px;
  }
}